{% extends 'admin/baseboxed.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}
<div class="row">

    <div class="col-lg-12 mb-30">
        <div class="alert alert-primary" role="alert">
            <h4 class="alert-heading">Perhatian</h4>
            <p class="text-muted">Apakah anda ingin menghapus <div class="alert alert-danger" role="alert">
                    {{song.title}}
                </div>
            </p>
            <hr>
            <p class="mb-0">Silahkan cek kembali data sebelum dihpaus.</p>
        </div>
        <div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
            <form method="POST">
                {% csrf_token %}
                <strong>Dismissal!</strong> You should check in on some of those
                fields below.<br>
                <button type="submit" class="btn btn-danger">Yes</button>
                <a href="{% url 'songs:manage' %}" class="btn btn-primary">No</a>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </form>

        </div>
    </div>


</div>
{% endblock content %}
