{% load static %}

<div class="flex">
                        <div class="aside-content slim-scroll">
                            <ul class="metisMenu" id="metisMenu">
                                <li class="nav-title">Main<span class="nav-thumbnail">MN</span></li>
                                <li> <i class="icon-Gaugage nav-thumbnail"></i>
                                    <a class="has-arrow" href="javascript:void(0)">

                                        <span class="nav-text">
                                            Dashboard 
                                        </span>
                                    </a>
                                </li><!--Menu-item-->

                                <li class="active"><i class="icon-Magic-Wand nav-thumbnail"></i>
                                    <a href="widgets.html">

                                        <span class="nav-text">
                                            Widgets 
                                        </span> <span class="badge badge-text ml-1 text-info">50+</span>
                                    </a>
                                </li><!--Menu-item-->
                                
                                </li><!--Menu-item-->
                            </ul>
                        </div><!-- aside content end-->
                    </div><!-- aside hidden scroll end-->