{% load static %}
<script type="text/javascript" src="{% static 'js/plugins/plugins.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/assan.custom.js' %}"></script> 

<script type="text/javascript" src="{% static 'admin/js/plugins/plugins.js' %}"></script> 
<script type="text/javascript" src="{% static 'admin/js/appUi-custom.js' %}"></script> 
<script type="text/javascript" src="{% static 'admin/lib/peity/jquery.peity.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/widgets-custom.js' %}"></script>