
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/plugins/plugins.css' %}">
<!-- REVOLUTION STYLE SHEETS -->
<link rel="stylesheet" type="text/css" href="{% static 'revolution/css/settings.css' %}">
<!-- REVOLUTION LAYERS STYLES -->
<link rel="stylesheet" type="text/css" href="{% static 'revolution/css/layers.css' %}">
<!-- REVOLUTION NAVIGATION STYLES -->
<link rel="stylesheet" type="text/css" href="{% static 'revolution/css/navigation.css' %}">
<!-- load css for cubeportfolio -->
<link rel="stylesheet" type="text/css" href="{% static 'cubeportfolio/css/cubeportfolio.min.css' %}">   
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">



<link href="{% static '' %}" rel="stylesheet">
<link href="{% static '' %}" rel="stylesheet">
<!--From Admin Panel Widget -->
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/plugins/plugins.css' %}">
<link href="{% static 'admin/lib/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
<!--fonts-->
<link href="{% static 'admin/lib/line-icons/line-icons.css' %}" rel="stylesheet">
<link href="{% static 'admin/lib/font-awesome/css/fontawesome-all.min.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/style.css' %}">
<!-- REVSLIDER JS -->





