{% extends 'admin/baseboxed.html' %}
{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-12">

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="portlet-box portlet-gutter ui-buttons-col mb-30">
            <div class="portlet-header flex-row flex d-flex align-items-center b-b">
                <div class="flex d-flex flex-column">
                    <h3>Video Management</h3>

                </div>
            </div>
            <div class="portlet-body">
                {{post_form.media}}
                {{post_form|crispy}}

                <button type="submit" class="btn btn-primary">{{tombol}}</button>


            </div>
        </div>
        <!--portlet-->

    </form>
</div>
{% endblock content %}
