<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div class="row ">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form.label }}
                {{ form.as_table }}
            </table>


            <button class="btn btn-primary" type="submit">Tambah</button>

        </form>
    </div>
</body>

</html>
