{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block body %}

<body>

    <div class="page-wrapper" id="page-wrapper">
        <aside id="page-aside" class=" page-aside aside-folded aside-fixed">
            <div class="sidenav darkNav">
                <a href="{% url 'index' %}"
                    class="app-logo d-flex flex flex-row align-items-center overflow-hidden justify-content-center">
                    <i
                        class="icon-Paper-Plane inline-icon rounded avatar32 d-inline-flex align-items-center justify-content-center"></i>
                    <span class="logo-text d-inline-flex"> <span class='font700 d-inline-block mr-1'>ASSAN</span>
                        UI</span>
                </a>
                {% include 'snippets/leftbar.html' %}
                <!-- aside hidden scroll end-->
                <div class="aside-footer p-3 pl-25">
                    <div class="">
                        App Version - 1.0
                    </div>
                </div><!-- aside footer end-->
            </div><!-- sidenav end-->
        </aside><!-- page-aside end-->
        <main class="content">
            {% include 'snippets/navheader.html' %}
            <div class="page-content d-flex flex pl-0 pr-0">

                <div class="flex d-flex b-l">
                    <div class="d-flex flex flex-column">
                        <div class="navbar bg-white flex-row b-b">
                            <div class="d-flex pl-3">
                                <div class="fs-1x font500">
                                    Projects
                                </div>
                            </div>
                            <div class="d-flex flex justify-content-end pr-3">
                                <div class="btn-group">
                                    <button type="button" class="btn active btn-gradient-light btn-icon-o">
                                        <i class="fa fa-th"></i>
                                    </button>
                                    <button type="button" class="btn btn-gradient-light btn-icon-o">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <a href="#" class="btn btn-gradient-success btn-icon-o">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="p-3 pt-0 pb-0">
                                <div class="row">
                                    <div class="col-xl-9 col-lg-8 col-md-7 d-flex flex-column p-4">
                                        <div class="row">

                                            {% for blog in posts %}
                                            <div class="col-lg-4 mb-30">
                                                <div class="iCard border1 p-2 rounded bg-white">
                                                    <a href="#">
                                                        <img src="{{ blog.cover.url}}" alt="" class="img-fluid rounded"
                                                            style="width: auto">
                                                    </a>
                                                    <div class="iCard-content p-1 pt-15 pb-15">
                                                        <h3 class="h5 text-dark font400 mb-10 text-capitalize"><a
                                                                href="{% url 'blogs:details' blog.slug %}">{{blog.title}}</a>
                                                        </h3>
                                                        <div class="mb-15">
                                                            <a class="font600 pb-1 b-b d-inline-block fs12 text-muted"
                                                                href="#"><i
                                                                    class="fa fa-tag mr-2"></i>{{blog.category}}</a>
                                                            <a class="font600 pb-1 b-b d-inline-block ml-2 fs12 text-muted"
                                                                href="#"><i
                                                                    class="fa fa-user-circle mr-2"></i>{{blog.author}}</a>
                                                        </div>
                                                        <div class="thumbnails-group mb-15">
                                                            {{blog.content|truncatechars:300|safe}}.
                                                        </div>
                                                        <div class="text-right">
                                                            <a href="#"
                                                                class="btn btn-gradient-light btn-icon btn-icon-right btn-sm">
                                                                <i class="fa fa-chevron-right"></i>
                                                                Read more
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--col-->
                                            {% endfor %}

                                        </div>

                                        <nav aria-label="...">
                                            {% if posts.has_other_pages %}
                                            <ul class="pagination">
                                                {% if posts.has_previous %}
                                                <li class="page-item">
                                                    <a class="page-link"
                                                        href="?page={{ posts.previous_page_number }}">Previous</a>
                                                </li>
                                                {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#">Previous</a>
                                                </li>
                                                {% endif %}

                                                {% for i in posts.paginator.page_range %}
                                                {% if posts.number == i %}
                                                <li class="page-item active">
                                                    <a class="page-link" href="#">{{ i }} <span
                                                            class="sr-only">(current)</span></a>
                                                </li>
                                                {% else %}

                                                <li class="page-item"><a class="page-link"
                                                        href="?page={{ i }}">{{ i }}</a></li>
                                                {% endif %}
                                                {% endfor %}

                                                {% if posts.has_next %}
                                                <li class="page-item">
                                                    <a class="page-link"
                                                        href="?page={{ posts.next_page_number }}">Next</a>
                                                </li>
                                                {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#" tabindex="-1">Next</a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                            {% endif %}
                                        </nav>


                                        <div class="text-right">
                                            <a href="#" class="btn btn-gradient-info">
                                                <i class="fa fa-spinner mr-2"></i> More Projects
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-4 b-l col-md-5 bg-white d-flex flex-column p-4">
                                        <div class="border1 bg-white p-3 mb-30 rounded">
                                            <h5 class="font500 row fs14 mb-20 b-b p-3 pt-0">Category</h5>
                                            <div class="row pb-2 b-b mb-15">

                                                {% for category in category_list  %}
                                                <a href="{% url 'blogs:category' category %}"
                                                    class="btn btn-rounded btn-outline-pink mr-1 mb-2">{{category}}</a>
                                                {% endfor %}
                                            </div>
                                            <h5 class="font500 row fs14 mb-20 b-b p-3 pt-0">Channel</h5>
                                            <div class="row pb-2 b-b mb-15">
                                                {% for director in list_director  %}
                                                <a href="javascript:void(0)"
                                                    class="btn btn-rounded btn-outline-dark mr-1 mb-2">{{director}}</a>
                                                {% endfor %}


                                            </div>
                                            <h5 class="font500 row fs14 mb-20 b-b p-3 pt-0">Overall Progress</h5>
                                            <div class="row pb-2 b-b mb-15">
                                                <div class="col-3">
                                                    <span class="donut1"
                                                        data-peity='{ "fill": ["#0084ff", "#e7f3fe"], "innerRadius": 18, "radius": 20 }'>66,24</span>
                                                </div>
                                                <div class="col-9">
                                                    <span class="d-block pb-2">Projects</span>
                                                    <div class="progress" style="height: 5px">
                                                        <div class="progress-bar progress-bar-animated progress-bar-striped bg-primary"
                                                            style="width: 66%"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-3">
                                                    <span class="donut1"
                                                        data-peity='{ "fill": ["#94df4a", "#e5fcd0"], "innerRadius": 18, "radius": 20 }'>76,24</span>
                                                </div>
                                                <div class="col-9">
                                                    <span class="d-block pb-2">Projects</span>
                                                    <div class="progress" style="height: 5px">
                                                        <div class="progress-bar progress-bar-animated progress-bar-striped bg-success"
                                                            style="width: 66%"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="border1 bg-white p-3 py-2 rounded">
                                            <h5 class="font500 row fs14 mb-20 b-b p-3 pt-0">Project Tasks</h5>
                                            <ul class="timeline-sm list-unstyled">
                                                <li class="customUi-checkbox check-todo checkbox-rounded">
                                                    <input type="checkbox" id="todo1">
                                                    <label for="todo1" class="mb-0">
                                                        <span class="label-checkbox"></span>
                                                        <span class="fs12 text-muted d-block pb-1">
                                                            <i class="far fa-folder-open mr-2 fs10"></i> project #1
                                                        </span>
                                                        <span class="label-helper">
                                                            Amet todo text will change ease
                                                        </span>
                                                    </label>
                                                </li>
                                                <!--item-->
                                                <li class="customUi-checkbox check-todo checkbox-rounded">
                                                    <input type="checkbox" id="todo2">
                                                    <label for="todo2" class="mb-0">
                                                        <span class="label-checkbox"></span>
                                                        <span class="fs12 text-muted d-block pb-1">
                                                            <i class="far fa-folder-open mr-2 fs10"></i> Web App UI
                                                        </span>
                                                        <span class="label-helper">
                                                            Amet todo text will change ease
                                                        </span>
                                                    </label>
                                                </li>
                                                <!--item-->
                                                <li class="customUi-checkbox check-todo checkbox-rounded">
                                                    <input type="checkbox" id="todo3">
                                                    <label for="todo3" class="mb-0">
                                                        <span class="label-checkbox"></span>
                                                        <span class="fs12 text-muted d-block pb-1">
                                                            <i class="far fa-folder-open mr-2 fs10"></i> Web App UI
                                                        </span>
                                                        <span class="label-helper">
                                                            Amet todo text will change ease
                                                        </span>
                                                    </label>
                                                </li>
                                                <!--item-->
                                                <li class="customUi-checkbox check-todo checkbox-rounded">
                                                    <input type="checkbox" id="todo4">
                                                    <label for="todo4" class="mb-0">
                                                        <span class="label-checkbox"></span>
                                                        <span class="fs12 text-muted d-block pb-1">
                                                            <i class="far fa-folder-open mr-2 fs10"></i> Web App UI
                                                        </span>
                                                        <span class="label-helper">
                                                            Amet todo text will change ease
                                                        </span>
                                                    </label>
                                                </li>
                                                <!--item-->
                                            </ul>
                                        </div>
                                        <a target="_blank"
                                            href="https://wrapbootstrap.com/theme/assan-multipurpose-24-themes-admin-WB05F069P/?ref=wb_rakesh"
                                            class="btn btn-xl btn-subtitle btn-icon mt-30  btn-gradient-success btn-block">
                                            <i class="icon-Add-Basket"></i>
                                            <div class="btn-subtitle-content">
                                                Buy a license
                                                <span class="text-block">Buy full pack just for $20</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- content-->

                    </div>
                </div>
            </div>
            <footer class="content-footer bg-light b-t">
                <div class="d-flex flex align-items-center pl-15 pr-15">
                    <div class="d-flex flex p-3 ml-auto">
                        <div>
                            <a href="#" class="d-inline-flex pl-0 pr-2 b-r">Contact</a>
                            <a href="#" class="d-inline-flex pl-2 pr-2 b-r">Storage</a>
                            <a href="#" class="d-inline-flex pl-2 pr-2 ">Privacy</a>
                        </div>
                    </div>
                    <div class="d-flex flex p-3 mr-auto justify-content-end">
                        <div class="text-muted">© Copyright 2014-2018. Assan</div>
                    </div>
                </div>
            </footer>
        </main><!-- page content end-->
    </div><!-- app's main wrapper end -->
    <!-- Common plugins -->
    <script type="text/javascript" src="{% static 'js/plugins/plugins.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/appUi-custom.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/peity/jquery.peity.min.js' %}"></script>
    <script>
        $(function () {
            /**peity**/
            $(".donut1").peity("donut", {
            });
        });
    </script>
</body>
{% endblock body %}
